* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}
body {
  position: relative;
  min-width: 1300px;
}

#top-background {
  background-color: #00BFA5;
  height: 14.3vh;
}
#bottom-background {
  background: rgb(218,219,212);
  background: linear-gradient(180deg, rgba(218,219,212,1) 100%, rgba(210,219,220,1) 100%);
  height: 85.7vh;
}

i {
  color: #c4c4c4;
  font-size: 22px;
  padding: 8px;
}
.avatar {
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f2f2f2;
}

#player {
  width: 80.8%;
  height: 90.6%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

#contatti {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  border-right: 1px solid #d0d0d0;
}
#player > div > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#chat {
  width: calc(200% / 3);
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
}

#header-contatti {
  height: 8%;
  background-color: #f2f2f2;
  padding: 10px;
}

#immagine-profilo{
  background-image: url(../img/avatar_io.jpg);
  height: 50px;
  width: 50px;
}

#contatti #notifiche-contatti {
  height: 9%;
  background-color: #94e4f9;
  padding: 0 8px;
  justify-content: flex-start;
}

#notifiche-contatti #bell-wrapper {
  height: 50px;
  width: 50px;
  background-color: #f0faff;
  border-radius: 50%;
  text-align: center;
  margin: 0 12px;
}
#notifiche-contatti .fa-bell-slash {
  line-height: 34px;
  color: #94e4f9;
}
#notifiche-contatti #testo-notifiche p {
  font-size: 16px;
}
#notifiche-contatti #testo-notifiche a {
  color: #7699A9;
  font-size: 14px;
}
#contatti #cerca-contatti {
  height: 6%;
  background-color: #f9f9f9;
  justify-content: flex-start;
  padding: 0 10px;
}

#cerca-contatti .fa-search {
  background-color: white;
  height: 70%;
  padding-left: 20px;
  padding-right: 20px;
}
#cerca-contatti input {
  height: 70%;
  width: 100%;
  border: 0;
  padding-left: 10px;
}
#cerca-contatti input::placeholder {
  font-size: 12px;
}
#contatti #lista-contatti {
  height: 77%;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
  margin-right: 3.5%;
  border-right: 1px solid #e5e5e5;
}
#lista-contatti .contatto {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f3f3f3;
  background-color: white;
  padding: 0 10px;
}

#lista-contatti #contatto-1{
  background-image: url(../img/avatar_1.jpg);
}
#lista-contatti #contatto-2{
  background-image: url(../img/avatar_2.jpg);
}
#lista-contatti #contatto-3{
  background-image: url(../img/avatar_3.jpg);
}
#lista-contatti #contatto-4{
  background-image: url(../img/avatar_4.jpg);
}
#lista-contatti #contatto-5{
  background-image: url(../img/avatar_5.jpg);
}
#lista-contatti #contatto-6{
  background-image: url(../img/avatar_6.jpg);
}
#lista-contatti #contatto-7{
  background-image: url(../img/avatar_7.jpg);
}
#lista-contatti #contatto-8{
  background-image: url(../img/avatar_8.jpg);
}

#lista-contatti .contatto .avatar{
  width: 58px;
  height: 58px;
  margin: 0 10px;
}
#lista-contatti .testo-contatto{
  flex-grow: 2;
  margin: 0 10px;
}
#lista-contatti .nome-contatto{
  font-size: 18px;
}
#lista-contatti .frase-contatto{
  font-size: 16px;
  color: #caccd0;
}
#lista-contatti time{
  font-size: 13px;
  color: #dfe2e4;
  position: relative;
  top: -10px;
}
#chat-header {
  height: 8%;
  background-color: #f2f2f2;
}
#chat #chat-main {
  height: 84%;
  background-image: url(../img/chat-background.jpeg);
  margin-right: 2%;
  display: block;
  padding: 50px 80px;
}
#chat-main p {
  line-height: 53px;
}
#chat-main p span{
  padding: 20px 18px;
  border-radius: 10px;
}
#chat-main p.user-message {
  text-align: right;
}
#chat-main p.user-message span {
  background-color: #d0f8b6;
}
#chat-main p.contact-message {
  text-align: left;
}
#chat-main p.contact-message span {
  background-color: white;
}
#chat-main p time {
  position: relative;
  left: -32px;
  top: 16px;
  font-size: 10px;
  color: #cacaca;
}
#chat-main .user-message-template {
  display: none;
}
#chat-footer {
  height: 8%;
  background-color: #f2f2f2;
}
#chat-footer input {
  flex-grow: 2;
  height: 70%;
  border: 0;
  padding-left: 15px;
}
#chat-footer input::placeholder {
  color: #b2b2b2;
}
#chat-footer i {
  margin: 0 20px;
}
